<style>
    .container {

        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 1140px;
    }

    .main-footer * {
        direction: rtl;
    }
    .main-footer  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        color: rgb(141, 138, 137);
    }

    .main-footer>section {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 0rem 3rem;
        width: 100%;
        gap: 1rem;

    }

    .main-footer>section>a {
        padding: .2rem 0rem;

    }

    .copyright {
        background-color: rgb(255, 255, 255);
        padding: .3rem;
        text-align: center;
        
        border-radius: 1rem 1rem 0 0;
    }
    .copyright p{color: rgb(185, 185, 185);font-weight: 200;}
</style>
<div class="container">
    <div class="main-footer ">

        <section><a href="/"><img src="/images/logo.png" width="150px" style="border-radius: 0!important;"></a></section>
        <section>
            <a href="/">خانه</a>
            <a href="/about">درباره</a>
            <a href="/Contact-us">تماس با ما</a>
            <a href="/">سوالات</a>
        </section>
        <section>
            <p>سلام! من سجاد چراغی هستم و با ۱۵ سال تجربه در تولید مالتی‌مدیای تصویری، اینجا در افیکس موشن هستم تا با شما مسیر ادیتور شدن رو به اشتراک بذارم. کلی آموزش رایگان دارم که بهتون کمک می‌کنه به یه ادیتور حرفه‌ای با درآمد بالا تبدیل بشید. امیدوارم این دوره‌ها براتون مفید باشه و حسابی لذت ببرید.</p>
        </section>

        <!-- <section style="direction: rtl;">
        <a href="https://www.youtube.com/c/fxmotion/videos"><img width="30px" src="/images/x.png" alt=""></a>
        <a href="https://www.facebook.com/fxmotionShop"><img width="30px" src="/images/facebook.png" alt=""></a>
        <a href="https://www.youtube.com/c/fxmotion"><img width="30px" src="/images/youtube.png" alt=""></a>
    </section> -->


    </div>
    <div class="copyright">
        <p>طراحی و توسعه - سجاد چراغی - اف ایکس موشن ©</p>
    </div>
</div>